body {
    background-image: url('../image/imagenfondo.png');
    color: #FAFFFD;
    font-size: 1.0rem;
    font-weight: bold;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    background-attachment: fixed; 
}

header {
    text-align: center;
    width: 100%;
    display:flex;
    background-color: #b1d7c5;
    margin-bottom: 1px;
    justify-content: space-between;
    height: 75px;
}
footer {
  height:100px;
  background-color:#b1d7c5;
  width:100%;
}
a {
  color: black;
  text-decoration: none;
}
a:hover{
  color: #f7ac6b;
}

li {
    list-style: none;
    padding: 1rem;
}
header button{
  background: white;
  border-radius: 50px; 
  color:#222238;
  white-space: nowrap; 
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
  border:None;
  margin-top: 17px;
  margin-right: 20px;
}
header button:hover{
  background: hsl(207, 30%, 29%);
  color:white

}
.listaNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1em;
  border-radius: 0.5em;
  margin: 0 15px;
  font-size: 15px;
  font-weight: 200;
  gap: 10px;
  white-space: nowrap; 
  right: 120px;
  position: relative;
}
.listaNavBar a{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px #201d47;
}
.listaNavBar a:hover{
  color: #222238;
}
.imagenes-header img{
  height: 65px;
  width: 65px;
  left: 20px; 
  position: absolute;
}

.buscar_registrar {
  display: inline-block;
  padding: 10px 0; /* Espacio arriba y abajo del texto */
  border-top: 1px solid black; /* Línea superior */
  border-bottom: 1px solid black; /* Línea inferior */
  margin: 20px 0; /* Espacio alrededor del subtítulo */
  width: 100%;
  width: 100%;
}

.boton_buscar_registrar {
    background-color: #e77e38;
    padding: 1rem;
}

.info_del_sitio {
    text-align: center;
    background-color:#b1d7c5;
    width: fit-content;
    justify-content: center;
    margin: 0 auto;
    color: black;
}

h3{
    color: #ffffff;
}

#map {
    height: 600px;
    width: 100%;
    max-width: 1100px;
    color: black;
}

.div-map{
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Estilos para el campo de búsqueda */
#pac-input {
    margin-top: 10px;
    margin-left: 12px;
    padding: 5px;
    width: 300px;
}
.price-tag {
    background-color: #4285F4;
    border-radius: 8px;
    color: #af9b9b;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
    }

    #place-autocomplete-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    padding: 5px;
    font-family: Roboto, sans-serif;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }
    #place-autocomplete-card p{
      padding-right: 10px;
    }
    #place-autocomplete {
    width: 250px;
    }

    #infowindow-content .title {
    font-weight: bold;
    }

    #map #infowindow-content {
    display: inline;
    }

    /* Estilos de la mascota en estado no resaltado. */
.mascota {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #263238;
    display: flex;
    font-size: 14px;
    gap: 15px;
    height: 30px;
    justify-content: center;
    padding: 4px;
    position: relative;
    transition: all 0.3s ease-out;
    width: 30px;
  }
  
  .mascota::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #FFFFFF;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 95%;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-out;
    width: 0;
    z-index: 1;
  }
  
  .mascota .icono {
    align-items: center;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
  }
  
  .mascota .icono svg {
    height: 20px;
    width: auto;
  }
  
  .mascota .detalles {
    display: none;
    flex-direction: column;
    flex: 1;
  }
  
  .mascota .especie {
    color: #9E9E9E;
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  .mascota .info {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Estilos de la mascota en estado resaltado. */
  .mascota.resaltar {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: auto;
    padding: 8px 15px;
    width: auto;
  }
  
  .mascota.resaltar::after {
    border-top: 9px solid #FFFFFF;
  }
  
  .mascota.resaltar .detalles {
    display: flex;
  }
  
  .mascota.resaltar .icono svg {
    width: 50px;
    height: 50px;
  }
  
  /* Colores del icono del gato */
  .mascota.resaltar:has(.fa-paw) .icono {
    color: rgb(170, 1, 254);
  }
  
  .mascota:not(.resaltar):has(.fa-paw) {
    background-color: rgb(170, 1, 254);
  }
  
  .mascota:not(.resaltar):has(.fa-paw)::after {
    border-top: 9px solid rgb(170, 1, 254);
  }

    /* Colores del icono del gato */
    .mascota.resaltar:has(.fa-house) .icono {
      color: rgb(1, 31, 254);
    }
    
    .mascota:not(.resaltar):has(.fa-house) {
      background-color: rgb(1, 31, 254);
    }
    
    .mascota:not(.resaltar):has(.fa-house)::after {
      border-top: 9px solid rgb(1, 31, 254);
    }

    .boton{
      background-color: green;
      border: 1px solid black;
      border-radius: 5px;
      padding: 2px;
      text-decoration: none;
    }

    .boton:hover{
      background-color: rgb(109, 128, 0);
      border: 1px solid rgb(255, 255, 255);
      border-radius: 5px;
      padding: 2px;
      text-decoration: none;
    }

    .imagenes-header{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      max-height: 200px;
      justify-content: center;
    }

    .logo{
      width: 30%;
      max-height: 200px;
      max-width: 200px;
    }

    .sub-imagenes-header{
      width: 70%;
      height: 18vw;
      max-height: 221px;
      display: flex;
      flex-direction: column;
      align-content: center;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-around;
    }

    .subtitulo{
      color: black;
      font-size: 25px;

      width: fit-content;
    }

    .subtitulo-centrado{
      margin: 0 auto;
      color: black;
      font-size: 25px;

      width: fit-content;
      justify-content: center;
    }

  .swiper {
    width: 90vw;
    max-width: 1061px;
    height: 40vw;
    max-height: 467px;
    margin: auto;
  }

  .swiper-slide {
    
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
  }

  .swiper-slide .img-1 {
      background: url('../image/slider1.png');
  }
  .swiper-slide .img-2 {
    background: url('../image/slider2.png');
    background-size: contain;
  }
  .swiper-slide .img-3 {
    background: url('../image/slider3.png');
  }

  .slider {
    width: 100%;
    height: 100%;
    background-size: contain;
  }

  .slider h6{
    font-size: 1rem;
  }

  .swiper-pagination-bullet {
    background-color: #0a667f; /* Cambia este color al que prefieras */
    border: 2px solid #0a667f;
}

.swiper-pagination-bullet-active {
    background-color: #366b4e !important; /* Cambia este color al que prefieras */
}

/* Estilos de los botones de navegación */
.swiper-button-prev,
.swiper-button-next {
    color: #0a667f; /* Cambia este color al que prefieras */
    
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 40px; /* Puedes ajustar el tamaño del icono si es necesario */
    color: #cfeadb;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade sombra al texto para resaltar */
        
}

.contenedor{
  max-height: 600px;
  color: black;
  overflow: auto;
  width: 100%;
  height: 100vh;
  border: 1px solid #b1d7c5;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabla-de-mascotas{
  width: 80%;
  height: 80%;
  overflow: auto;
  border: 1px solid #000;
  border-radius: 2%;
  padding: 5px;
}

.contenido-tabla-de-mascotas{
  height: 200%;
  background: white;
  border-radius: 1%;
}

.contenedor-mapa{
  width: 100%;
  height: 100vh;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  width: 90%;
  max-width: 1100px;
  color: black;
  
  min-height: 75vh;

}

.sec-map{
  width: 75%;
  border: 1px solid #b1d7c5;
}


.fila {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.fila p {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.tipo {
  width: calc(100% / 3); /* Un cuarto del ancho total */
}

.raza {
  width: calc(100% / 3); /* Un cuarto del ancho total */
}

.sexo {
  width: calc(100% / 3); /* Un cuarto del ancho total */
}
.descripcion {
  width: calc(100% / 3); /* Un cuarto del ancho total */
}
.ver {
  width: 10%; /* Un cuarto del ancho total */
  background: #0a667f;
  color: white;
  text-align: center;
  padding: 2px;
  border-radius: 20px;
}

.buscador{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

}

.tipo .raza .sexo .btn-buscar{
  width: calc(100% / 2);
}
/* estilos de los formularios de login, registro de usuario y registro de mascotas*/
button{
  border-radius: 10px;
  border:none;
  background-color: #b8daca;
  color: #222238;
  cursor:pointer
}
.formulario form{
  margin: 0 auto;
  padding: 70px 0;
  border: 1px solid #ccc;
  height: 400px;
  border-radius: 10px;
  width: 350px;
  font-weight: 400;
  margin-top: 10px;
}

.formulario form h2{
  text-align: center;
  color: black;
}

.formulario .input{
  position: relative;
  margin: 40px;
  color: black;
}
.formulario input{
  font-size: 18px;
  padding: 5px 5px 5px 5px;
  color: black;
  display: flex;
  width: 100%;  
  }
.formulario form button{
  width: 70%;
  margin: 10px auto;
  height: 30px;
  display: block;
  font-weight: 600;
  }
.formulario p{
  margin-top: 40px;
  margin-left: 50px;
  font-size: 14px;
  width:100%;
}
.formulario a{
  color: #6fa38c;
  font-weight: bold;
}
.registrarMascota.opciones{
  display: block;
  gap: 40px;
  position: relative;
}
  
.registrarMascota form{
  font-weight: 400;
  background-color: #FFFFFF;
  padding: 70px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 1050px;
  padding-top: 10px;
  margin-bottom:10px;
  }
.registrarMascota h2{
  color: black;
  margin: 20px;
  }
.registrarMascota .input{
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  font-size: 18px;
  color: black;
  width: 20%;
  margin: 20px;
  }
.registrarMascota input{
  font-size: 13px;
  color: black;
  width: 100%;  
  }
.registrarMascota textarea{
  width: 1015px; 
  height: 150px;
  font-size: 13px; 
  }
.registrarMascota form button{
  width: 10%;
  margin: 20px;
  height: 30px;
  font-weight: 600;
  }
.registrarMascota .banner{
  position: absolute;
  right:250px;
  bottom:200px;
}
  .error{
    padding: 100px;
    display: flex;
    flex-direction: column;
  }  

  .error h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 70px;
    margin-top:0;
  }
  .error h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top:0px;
  }
  .error p{
    font-weight: 50;
    font-size:15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .error button{
    margin-top: 30px;
    width: 15%;
    height: 30px;
    font-weight: 600;
  }

  .alinear{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper {
    width: 65%;
    margin: 0 20%;
}

.wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
}

.wrapper > h1 {
    letter-spacing: 3px;
}

.accordion {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.accordion i {
    font-size: 1.6rem;
}

.active,
.accordion:hover {
    background-color: #f1f7f5;
}
.pannel {
    padding: 0 2rem 2.5rem 2rem;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
}
.pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}

.faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0.5rem 0;
}
.faq.active {
    border: none;
}