#mapborder { 
    border: 2px solid #ccc;
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#map {
    height: 500px;
    width: 100%;
}
#mapah1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: #4a90e2;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f8ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#map {
    height: 400px;
    width: 100%;
}
