[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
mysql-connector-python = "*"
pyjwt = "*"
flask-jwt-extended = "*"
requests = "*"
pip = "*"
install = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
