<!-- mapbasic.html -->
<!DOCTYPE html>
<html lang="es">

    <head>
        <title>Busca tu mascota</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="mascotas, mascotas perdidas, mascota encontrada">
        <meta property="og:title" content="El mejor lugar para hallar a tu mascota perdida">
        <meta property="og:type" content="website">
        <meta property="og:locate" content="es_ES">
        <link rel="stylesheet" href="/static/css/homestyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head> 

    <!--Comienzo del body-->

    <body>
        <header>

            <h1>Encuentra tu mascota!</h1>
            <ul class="listaNavBar">
                <li><a href="/">Inicio</a></li>
                <li><a href="map">Mapa</a></li>
                <li><a href="buscadas">Buscar</a></li>
                <li><a href="registrar">Registrar</a></li>
            </ul>
            <br>
        </header>

        <main>
            
            <section class="buscador">

                <!--Acá se va a encontrar la tabla de mascotas buscadas con un buscador-->
                <form method="post" action="/buscadas">

                    <label for="tipo">Tu mascota es:</label>
                    <select name="mespecie" id="tipo">
                        <option value="">Selecciona el tipo</option>
                        <option value="perro">Perro</option>
                        <option value="gato">Gato</option>
                    </select>
                    <label for="tipo"> de Raza</label>
                    <select name="mraza" id="razas" >
                        <option value="">Selecciona la raza</option>
                    </select>
                    <label for="sexo"></label>
                    <select name="msexo" id="sexo">
                        <option value=""></option>
                        <option value="macho">macho</option>
                        <option value="hembra">hembra</option>
                    </select>

                    <button type="submit">Buscar</button>
                </form>
            </section>
            <section class="tabla-de-mascotas" >

                <div id="" class="fila" data="" style="display: flex; justify-content: space-between;
                align-items: center; pointer-events: painted;">
                    <p>tipo</p>
                    <p>raza</p>
                    <p>sexo</p>
                    <p style="visibility: hidden;">Ver</p>
                </div>
                {% for mascota in tablaDeMascotas %}
                    <div id="{{ mascota.mascotaid }}" class="fila" data="{{ mascota.calle }} {{ mascota.altura }}, {{ mascota.zona }}" onclick="irADireccion(this.getAttribute('data'))" style="display: flex; justify-content: space-between; align-items: center; pointer-events: painted;">
                        <p>{{ mascota.especie }}</p>
                        <p>{{ mascota.raza }}</p>
                        <p>{{ mascota.sexo }}</p>
                        <a href="/PerfilMascota/{{ mascota.mascotaid }}">Ver</a>
                    </div>
                {% endfor %}

            </section>
            <section>
                {% extends "mapbasic.html" %}
                
            </section>
            
        </main>

        <footer>
            <p class="info_del_sitio">acá va a haber info a cerca de los creadores del sitio, contactar por si hay errores, etc</p>
        </footer>

        
    </body>