{% extends "base.html" %}

    {% block title %}<title>Busca tu mascota</title>{% endblock %}

    {% block main %}
        <main>
        
            <section class="contenedor">
                <div class="tabla-de-mascotas">
                    <div class="contenido-tabla-de-mascotas">
                        <div class="buscador">
                            <!--Acá se va a encontrar la tabla de mascotas buscadas con un buscador-->
                            <form method="post" action="/buscadas" class="buscador">
                                <div class="tipo">
                                    <label for="tipo">Tu mascota es:</label>
                                    <select name="mespecie" id="tipo">
                                        <option value="">Selecciona el tipo</option>
                                        <option value="perro">Perro</option>
                                        <option value="gato">Gato</option>
                                    </select>
                                </div>
                                <div class="raza">
                                    <label for="tipo"> de Raza</label>
                                    <select name="mraza" id="razas" >
                                        <option value="">Selecciona la raza</option>
                                    </select>
                                </div>
                                <div class="tipo">
                                    <label for="sexo">Su sexo es:</label>
                                    <select name="msexo" id="sexo">
                                        <option value=""></option>
                                        <option value="macho">macho</option>
                                        <option value="hembra">hembra</option>
                                    </select>
                                </div> 
                                <button type="submit" class="btn-buscar">Buscar</button>
                            </form>
                        </div>
                        <div id="" class="fila" data="">
                            <p class="estado">Estado <br> Buscado(X)/Perdido(V)</p>
                            <p class="tipo">Tipo</p>
                            <p class="raza">Raza</p>
                            <p class="sexo">Sexo</p>
                            <p class="descripcion">Descripcion</p>
                            <p class="ver" style="visibility: hidden;">Ver</p>
                        </div>
                        
                        
                        {% set tablaDeMascotas = listaDeMascotas %}
                        {% set miperfil = False %}
                        {% include "tablaBase.html" %}
                        <!--
                        {% for mascota in tablaDeMascotas %}
                            <div id="{{ mascota.mascotaid }}" class="fila" data="{{ mascota.calle }} {{ mascota.altura }}, {{ mascota.zona }}" onclick="irADireccion(this.getAttribute('data'))">
                                <p class="tipo">{{ mascota.especie }}</p>
                                <p class="raza">{{ mascota.raza }}</p>
                                <p class="sexo">{{ mascota.sexo }}</p>
                                <a class="ver" href="/PerfilMascota/{{ mascota.mascotaid }}">Ver</a>
                            </div>
                        {% endfor %}
                        -->
                        
                    <script src="{{ url_for('static', filename='/script/completarBuscardor.js') }}"></script>
                    </div>
                </div> 
            </section>
            <section class="contenedor-mapa">
                <div class="sec-map">
                    {% include "mapbasic.html" %}
                </div>
            </section>  
        
        </main>
        
    {% endblock %}