{% extends "base.html" %}
    {% block title %}<title>Preguntas frecuentes</title>{% endblock %}
    
    {% block main %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <body>
            <div class="wrapper">
                {% for pregunta_respuesta in tabla_faq %}
                    <div class="faq">
                        <button class="accordion">{{ pregunta_respuesta.pregunta }} <i class="fa-solid fa-chevron-down"></i></button>
                        <div class="pannel">
                            <p>{{ pregunta_respuesta.respuesta | safe }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        <script>
        var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          this.classList.toggle("active");
          this.parentElement.classList.toggle("active");

          var pannel = this.nextElementSibling;

          if (pannel.style.display === "block") {
            pannel.style.display = "none";
          } else {
            pannel.style.display = "block";
          }
        });
      }
    </script>
  </body>
</html>
{% endblock %}