{% extends "base.html" %}
    
    {% block title %}<title>Busca tu mascota</title>{% endblock %}
    {% block main %}
        
        <main>
            <h4 class="subtitulo-centrado">Página de búsqueda Encuentra tu Mascota</h4>
            <section class="buscar_registrar">
                <p class="subtitulo">Busca tu mascota</p>
                <button class="boton_buscar_registrar"><a href="/buscadas">buscar</a></button>
            </section>

            <br>
            <br>
            
            <section class="buscar_registrar">
                <p class="subtitulo">Registra una mascota perdida</p>
                <button class="boton_buscar_registrar"><a href="/registrar">registrar</a></button>
            </section>
            {% include "mapbasic.html" %}
            <!--
            <section id="secion-de-mapa">
                
                <h3>Busca tu mascota</h3>
                <div class="place-autocomplete-card" id="place-autocomplete-card">
                    <p>Buscar</p>
                </div>
                <div id="map"></div>

                <script src="{{ url_for('static', filename='/script/cargarMap.js') }}" ></script>
                <script src="{{ url_for('static', filename='/script/moduloDeTablas.js') }}"></script>
                <script>
                    async function loadScript() {
                    try {
                        let respuesta = await fetch('/script');
                        if (!respuesta.ok) {
                            throw new Error('hubo un error');
                        }
                        let scriptContent = await respuesta.text();
                        eval(scriptContent);
                    } catch (error) {
                        console.error('Error al cargar el script:', error);
                    }
                }
        
                loadScript();
                initMap();
                </script>
            </section>-->
            <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var token = "{{ token }}";
                        if (token && token !== "") {
                            localStorage.setItem('token', token);
                        }
                        console.log(localStorage.getItem('token'));
                    });
        
            </script>
        </main>

    {% endblock %}
