<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Busca tu mascota</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="mascotas, mascotas perdidas, mascota encontrada">
        <meta property="og:title" content="El mejor lugar para hallar a tu mascota perdida">
        <meta property="og:type" content="website">
        <meta property="og:locate" content="es_ES">
        <link rel="stylesheet" href="/static/css/homestyle.css">
    </head> 

    <!--Comienzo del body-->

    <body>
        <header>

            <h1>Encuentra tu mascota!</h1>
            <ul class="listaNavBar">
                <li><a href="home.html">Inicio</a></li>
                <li><a href="map">Mapa</a></li>
                <li><a href="buscadas.html">Buscar</a></li>
                <li><a href="registrar.html">Registrar</a></li>
            </ul>
            <br>

        </header>
        {% block map %}
        {% endblock %}
        <main>
            <section class="buscar_registrar">
                <p>Busca tu mascota</p>
                <button class="boton_buscar_registrar"><a href="buscadas.html">buscar</a></button>
            </section>

            <br>
            <br>
            
            <section class="buscar_registrar">
                <p>Registra una mascota perdida</p>
                <button class="boton_buscar_registrar"><a href="registrar.html">registrar</a></button>
            </section>
            <section>

                <div class="place-autocomplete-card" id="place-autocomplete-card">
                    <p>Search for a place here:</p>
                  </div>
                  <div id="map"></div>
              
                
            </section>
        </main>

        <footer>
            <p class="info_del_sitio">acá va a haber info a cerca de los creadores del sitio, contactar por si hay errores, etc</p>
        </footer>
        <script>
            (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
              key: '{{api_key}}',
              v: "beta",
              // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
              // Add other bootstrap parameters as needed, using camel case.
            });
          </script>
        <!--<script src="{{ url_for('static', filename='/script/cargarMap.js') }}" defer></script>-->
        <script src="{{ url_for('static', filename='/script/cargarMap.js') }}" defer></script>
    </body>