{% extends "base.html" %}
    
    {% block title %}<title>Busca tu mascota</title>{% endblock %}
    {% block main %}
        
        <main>
            <h4 class="subtitulo-centrado">Página de búsqueda Encuentra tu Mascota</h4>
            <section class="buscar_registrar">
                <p class="subtitulo">Busca tu mascota</p>
                <button class="boton_buscar_registrar"><a href="/buscadas">buscar</a></button>
            </section>

            <br>
            <br>
            
            <section class="buscar_registrar">
                <p class="subtitulo">Registra una mascota perdida</p>
                <button class="boton_buscar_registrar"><a href="/registrar">registrar</a></button>
            </section>
            {% include "mapbasic.html" %}
            
            <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var token = "{{ token }}";
                        if (token && token !== "") {
                            localStorage.setItem('token', token);
                        }
                        console.log(localStorage.getItem('token'));
                    });
        
            </script>
        </main>

    {% endblock %}
