<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div class="login">
        <h2>Iniciar Sesión</h2>
        <form action="/login" method="post">
            <label for="nombre">Nombre de Usuario</label>
            <input type="text" id="nombreUsuario" name="nombre" required>
    
            <label for="Contraseña">Contraseña</label>
            <input type="password" id="Contraseña" name="contraseña" required>
    
            <button type="submit">Ingresar</button>
        </form>
    </div>
</body>
</html>