{% extends "base.html" %}
    {% block title %}<title>Inicio</title>{% endblock %}

    {% block main %}
        <main>
            <section class="login">
                <h2>Iniciar Sesión</h2>
                <form action="/login" method="post">
                    <label for="nombre">Nombre de Usuario</label>
                    <input type="text" id="nombreUsuario" name="nombre" required>
            
                    <label for="Contraseña">Contraseña</label>
                    <input type="password" id="Contraseña" name="contraseña" required>
            
                    <button type="submit">Ingresar</button>
                </form>
            </section>
        </main>

    {% endblock %}