{% extends "base.html" %}
    {% block title %}<title>Inicio de sesión</title>{% endblock %}

    {% block main %}
    <div id="contenedor" >
        <main class="logiregnpage">
            <section class="subtitulo">
                <h2>Iniciar Sesión</h2>
                <form action="/login" method="post">
                    <label for="nombre">Nombre de Usuario</label> <br>
                    <input type="text" id="nombreUsuario" name="fnombre" required> <br>
            
                    <label for="Contraseña">Contraseña</label> <br>
                    <input type="password" id="Contraseña" name="fcontraseña" required> <br>
            
                    <button id="boton-submitlogin" type="submit">Ingresar</button>
                </form>
                <div id="registro-usuario">
                    <p>No tienes usuario, registrate aqui >>> <a href="{{ url_for('registro')}}">Registrarse</a></p>
                </div>
                <script src="{{ url_for('static', filename='/script/ocultarInicioSesion.js')}}">
                </script>
            </section>
        </main>
    </div>

    {% endblock %}