
   
   <section id="secion-de-mapa">
        <h3 class="subtitulo">Busca tu mascota</h3>
        <div class="place-autocomplete-card" id="place-autocomplete-card">
            <p>Buscar</p>
        </div>
        <div id="map"></div>

        <!-- Incluye el script generado dinámicamente -->
        <script src="{{ url_for('static', filename='/script/utilMap.js') }}"></script>
        <script src="{{ url_for('static', filename='/script/cargarMap.js') }}" defer></script>
        <script>
            async function loadScript() {
            try {
                let respuesta = await fetch('/script');
                if (!respuesta.ok) {
                    throw new Error('hubo un error');
                }
                let scriptContent = await respuesta.text();
                eval(scriptContent);
            } catch (error) {
                console.error('Error al cargar el script:', error);
            }
        }

        loadScript();
        initMap();
        </script>
    </section>

