<!-- Tu archivo HTML extendido -->
    <head>
        <link rel="stylesheet" href="/static/css/homestyle.css">
    </head>
    <section id="secion-de-mapa">
        <h3>Busca tu mascota</h3>
        <div class="place-autocomplete-card" id="place-autocomplete-card">
            <p>Buscar</p>
        </div>
        <div id="map"></div>

        <!-- Incluye el script generado dinámicamente -->
        <script src="{{ url_for('static', filename='/script/cargarMap.js') }}"></script>
        <script src="{{ url_for('static', filename='/script/moduloDeTablas.js') }}"></script>
        <script>
            {{ scriptDeMapa | safe }}
            
            // Llamar a initMap con los datos necesarios
            document.addEventListener('DOMContentLoaded', function() {
                initMap();
            });
        </script>
    </section>

