{% extends "base.html" %}

{% block title %}
    <title>Mi perfil {{ nombreDeUsuario }}</title>
{% endblock %}

{% block main %}
    <main>
        
        <h1 class="subtitulo">Mi Perfil</h1>
            
        <h2 class="nombre">{{ nombreDeUsuario }} </h2>
        <h4>Tus mascotas registradas:</h4>
        <div class="alinear">
            <div class="tabla-de-mascotas">
                <div class="contenido-tabla-de-mascotas">
                    {% set tablaDeMascotas = listaDeMascotas %}
                    {% set miperfil = True %}
                    {% include "tablaBase.html" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
