{% extends "base.html" %}

        {% block title %}<title>Mi perfil {{nombreDeUsuario}}</title>{% endblock %}
        {% block main %}
            <main>
                <h1>Mi Perfil</h1>
                <!-- >nombreDeUsuario -->
                <!--listaDeMascotas-->
                <h3 class="nombre">{{nombreDeUsuario}}</h3>
                {% for mascota in listaDeMascotas %}
                    <div id="{{ mascota.mascotaid }}" class="fila" style="display: flex; justify-content: space-between; align-items: center; pointer-events: painted;">
                        <p>{{ mascota.especie }}</p>
                        <p>{{ mascota.raza }}</p>
                        <p>{{ mascota.sexo }}</p>
                        <p>{{ mascota.descripcion }}</p>
                        <a href="/perfilMascota/{{ mascota.mascotaid }}">Ver</a>
                        <p id="eliminar" class="eliminar" onclick="eliminar('{{ mascota.mascotaid }}')">eliminar</p>
                    </div>
                {% endfor %}
                <script>
                    function eliminar(mascotaId) {
                            fetch(`/eliminarMascota`, {
                                method: 'DELETE',
                                headers: {
                                    'mascotaId': 'mascotaId'
                                }
                            })
                            .then(response => {
                                window.location.href = "/miperfil";
                            });
                        }
                </script>
            </main>
        {% endblock %}
    