{% extends "base.html" %}
    
    {% block title %}<title>Perfil mascota</title>{% endblock %}
    {% block main %}
        
        <main>
                    
            <h2>{{ mascota.especie }} {{ mascota.raza }} : [{{ mascota.estado }}]</h2>
            <p>Sexo: {{ mascota.sexo }}</p>
            <p>{{ mascota.descripcion }}</p>
            <p>Ubicación:
                {{ mascota.zona }}, {{ mascota.calle }} {{ mascota.altura }}
            </p>
            <p>Contacto:
                {{ mascota.contacto }}
                {{ mascota.mascotaid }}
            </p>
            <img src="{{ url_for('static', filename='image/mascotas/' + mascota.mascotaid ~ '_mascota.jpg') }}" style="max-width: 500px;width: 45%; position:absolute; top: 170px; right: 10px;">
            
        </main>
    {% endblock %}
