{% extends "base.html" %}
    
    {% block title %}<title>Busca tu mascota</title>{% endblock %}
    {% block main %}
        
        <main>
                    
            <h2>Soy un {{ mascota.especie }} {{ mascota.raza }} {{ mascota.sexo }}</h2>
            <p>{{ mascota.descripcion }}</p>
            <p>Me perdi en: 
                {{ mascota.zona }}, {{ mascota.calle }} {{ mascota.altura }}
            </p>
            <p>Podes contactarme en:
                {{ mascota.contacto }}
            </p>
        </main>
    {% endblock %}
