<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var token = localStorage.getItem('token');
            if (!token) {
                window.location.href = "/login";
            } else {
                fetch('/decodificar', {
                    method: 'GET',
                    headers: {
                        'autorizacion': token  // Enviar el token en el encabezado
                    }
                })
                .then(response => {
                    if (response.status === 204) {
                        window.location.href = "/miperfil";
                    } else if (response.status === 401) {
                        window.location.href = "/login";
                    }
                });
            }
        });
    </script>
</head>
<body>
    <h1>Redirigiendo a Mi Perfil...</h1>
</body>
</html>