<!DOCTYPE html>
<html lang="es">
<head>
    <title>Bark Street/Registrar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/homestyle.css', _external=True) }}">
</head>
<body>
    <h2>Registro de Mascotas</h2>
    <form action="registrar-mascota" method="post">
        <label for="tipo">Tipo de Mascotas</label>
        <select name="ftipo" id="tipo" required>
            <option value="">Selecciona el tipo</option>
            <option value="perro">Perro</option>
            <option value="gato">Gato</option>
            <option value="otro">Otro</option>
        </select>
        <label for="raza">Raza</label>
        <input type="text" name="fraza" id="raza" required>
        <label for="sexo">Sexo</label>
        <select name="fsexo" id="sexo" required>
            <option value="">Selecciona el sexo</option>
            <option value="macho">Masculino</option>
            <option value="hembra">Femenino</option>
        </select>
        <label for="detalles">Detalles</label>
        <textarea name="fdetalles" id="detalles" placeholder="Describa los detalles de la mascota" required></textarea>
        <label for="zona">Zona</label>
        <input type="text" name="fzona" id="zona" required>
        <label for="calle">Calle</label>
        <input type="text" name="fcalle" id="calle" required>
        <label for="altura">Altura</label>
        <input type="text" name="faltura" id="altura" required>
        <button type="submit">Registrar</button>
    </form>
</body>
</html>
