{% extends "base.html" %}
        {% block title %}<title>Registro de usuario</title>{% endblock %}

        {% block main %}
            <main>
                <section class="formulario">
                    <form action="registro" method="post">
                        <h2>Registro de usuario</h2>
                        <div class="input">
                            <label for="usuario">Usuario:</label>
                            <input type="text" name="fusuario" id="usuario" required>
                        </div>
                        <div class="input">
                            <label for="password">Contraseña:</label>
                            <input type="password" name="fpassword" id="password" required>
                        </div>
                        <div class="input">
                            <label for="contact">Contacto:</label>
                            <input type="contact" name="fcontact" id="contact" required>
                        </div>
                        <button type="submit">Registrarse</button>
                    </form>
                </section>
            </main>
        {% endblock %}