<!DOCTYPE html>
<html lang="es">
<head>
    <title>Bark Street/Registrar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/homestyle.css') }}">
</head>
<body>
    <header>

        <h1>Encuentra tu mascota!</h1>
        <ul class="listaNavBar">
            <li><a href="/">Inicio</a></li>
            <li><a href="/map">Mapa</a></li>
            <li><a href="buscadas.html">Buscar</a></li>
            <li><a href="registrar">Registrar</a></li>
        </ul>
        <br>

    </header>

    <h2>Registro de Mascotas</h2>
    <form action="registrar-mascota" method="post">
        <label for="tipo">Tipo de Mascotas</label>
        <select name="tipo" id="tipo" required>
            <option value="">Selecciona el tipo</option>
            <option value="perro">Perro</option>
            <option value="gato">Gato</option>
        </select>
        <label for="raza">Raza</label>
        <input type="text" name="raza" id="raza" required>
        <label for="sexo">Sexo</label>
        <select name="sexo" id="sexo" required>
            <option value="">Selecciona el sexo</option>
            <option value="macho">Masculino</option>
            <option value="hembra">Femenino</option>
        </select>
        <label for="detalles">Detalles</label>
        <textarea name="detalles" id="detalles" placeholder="Describa los detalles de la mascota" required></textarea>
        <button type="submit">Registrar</button>
    </form>
</body>
</html>