{% for mascota in tablaDeMascotas %}
    <div id="{{ mascota.mascotaid }}" class="fila" style="display: flex; justify-content: space-between; align-items: center; pointer-events: painted;"
        {% if not miperfil %}
            data="{{ mascota.calle }} {{ mascota.altura }}, {{ mascota.zona }}" 
            onclick="irADireccion(this.getAttribute('data'))"
        {% endif %}>
        <p>{{ mascota.especie }}</p>
        <p>{{ mascota.raza }}</p>
        <p>{{ mascota.sexo }}</p>
        {% if miperfil %}
            <p>{{ mascota.descripcion }}</p>
        {% endif %}
        <a class="ver" href="/PerfilMascota/{{ mascota.mascotaid }}">Ver</a>
        {% if miperfil %}
            <form id="eliminarForm-{{ mascota.mascotaid }}" action="/eliminarMascota" method="POST">
                <input type="hidden" id="eliminar-mascota-{{ mascota.mascotaid }}" name="fmascotaid" value="{{ mascota.mascotaid }}">
                <button type="submit">Eliminar</button>
            </form>
        {% endif %}
    </div>
{% endfor %}

